@tailwind base;
@tailwind components;
@tailwind utilities;

.inputs {
  border: none !important;
  box-shadow: none !important;
}

.inputs svg {
  display: none !important;
}

.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #F8589F;
  border-radius: 10px;
}

.custom-scrool::-webkit-scrollbar {
  width: 8px;
}

.custom-scrool::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrool::-webkit-scrollbar-thumb {
  background: #858494;
}

.wave_animation {
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.box {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.social {
  border: solid 2px #e8ecef !important;
  height: 48px !important;
  border-radius: 10px;
  cursor: pointer;
}

.social button {
  width: 50px !important;
  background: #fff9f9 !important;
  box-shadow: none !important;
  height: 30px !important;
}

.social button div div:nth-child(3) {
  display: none;
}

.select svg {
  display: none;
}

.select .arrow {
  display: block !important;
}

.switch span {
  background-color: #fff !important;
}

.feature_anim {
  width: 0px;
  animation: expand-width 3s forwards;
}

@keyframes expand-width {
  from {
    width: 0px;
  }
  to {
    width: 480px;
  }
}

@layer base {
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}



.shape {
  clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0 100%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.recharts-responsive-container {
  height: 290px !important;
  padding-top: 1px !important;
}

.recharts-surface {
  height: 328px !important;
}

.study_time .recharts-wrapper {
  padding-top: 14px;
  width: 540px !important;
  height: 327px !important;
  /* margin-left: -20px; */
}

.accuracy .recharts-surface {
  height: 280px !important;
}

.weak .recharts-surface {
  height: 290px !important;
  width: 300px !important;
}

.weak > div > div > div > div {
  width: 300px !important;
}

.performance > div > div > div {
  margin-top: 60px !important;
}
.performance > div > div > div > div {
  height: 150px !important;
}

.sel > button {
  padding-top: 21px !important;
  padding-bottom: 19px !important;
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 347 77% 50%;
    --chart-2: 352 83% 91%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 349 77% 62%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 347 77% 50%;
    --chart-2: 349 77% 62%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 352 83% 91%;
    }
} */

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 347 77% 50%;
    --chart-2: 352 83% 91%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 349 77% 62%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 347 77% 50%;
    --chart-2: 349 77% 62%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 352 83% 91%;
    }
} */
