@tailwind base;
@tailwind components;
@tailwind utilities;

.inputs {
  border: none !important;
  box-shadow: none !important;
} 

.inputs svg {
  display: none !important;
}

.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #F8589F;
  border-radius: 10px;
}

.wave_animation {
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.box {
  box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.135);
}

.social {
  border: solid 2px #E8ECEF !important;
  height: 48px !important;
  border-radius: 10px;
  cursor: pointer;
}

.social button {
  width: 50px !important;
  background: #FFF9F9 !important;
  box-shadow: none !important;
  height: 30px !important;
}

.social button div div:nth-child(3){
  display: none;
}

.select svg {
  display: none;
}

.select .arrow {
  display: block !important;
}

.switch span {
  background-color: #fff !important;
}